html , body , #root{
    height: 100%;
    text-align: center;
    font-size: x-large;
    background-image: url("https://3.bp.blogspot.com/-IHq99e1JxlM/XGD4Iv1HE6I/AAAAAAAAGEQ/vcTcLC2Uv9wEZXQPoJbj0d0CHrJYefSVACHMYCw/s800/wallpapers-ikea-wallpapers-zone-desktop-background.jpg")
}
